<div class="container">

  <div id="carouselExampleSlidesOnly" class="carousel slide mb-1" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/photos/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/9.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/10.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/11.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/photos/12.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <table id="songTable" class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><i class="fa-solid fa-play"></i></th>
        <th scope="col"><i class="fa-solid fa-user"></i> Artist</th>
        <th scope="col"><i class="fa-solid fa-music"></i> Song</th>
      </tr>
    </thead>
    <tbody>
      <% @song_db.each_with_index do |song, index|%>
      <tr>
        <td><button type="button" onclick="Play(<%= index %>);" class="btn btn-dark"><i class="fa-solid fa-play"></i></button></td>
        <td><%= song[:artist] %></td>
        <td><%= song[:title] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel"><i class="fa-solid fa-hand-middle-finger"></i> Are you being a wee cyunt?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to play this track? It'll interrupt the current one.
          </p>
          <p>
            <small>
              Are they really that dreadful?
            </small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-rectangle-xmark"></i> Soz babes.</button>
          <button type="button" class="btn btn-primary" id="confirmButton"><i class="fa-solid fa-play"></i> Fuck 'em</button>
        </div>
      </div>
    </div>
  </div>


  <script>
  let table = new DataTable('#songTable', {
      pageLength: 15,
      ordering:  false
  });
  </script>

</div>
